*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
:root{
    --background-color:hsl(220, 15%, 55%);
    --card-color:hsl(218, 44%, 22%);
}
body{
    background-color:var(--card-color);
}
.content-text{
    display:flex;
    background-color: var(--background-color);
    flex-direction: column;
    align-items: center;

    
}